{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<div id="directory-grid">
    {% for name,items in data.items() %}
    <div id="directory-grid-card" class="card" style="border-color:orange;">
        <div class="card-header" style="background-color:rgba(255, 166, 0, 0.863);">{{name}}</div>
        <div class="card-body">
            <p class="card-text" style="font-style: bold;">
                Located at: {{items['location']}}
            </p>
            <a tabindex="0" class="btn" role="button" data-toggle="popover" data-trigger="focus" title="{{name}}" data-content="{{items['description']}}" style="background-color: rgba(245, 245, 245, 0.308); border-color: rgba(255, 166, 0, 0.253);" >Description</a>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
    var popover = new bootstrap.Popover(document.querySelector('.popover-dismiss'), {
        trigger: 'focus'
    })
</script>


{% endblock %}