{% extends "base.html" %}

{% block head %}
{{ super() }}

{% endblock %}

{% block content %}
<div id="chat_main">
    <h1 id="chatpage_headline">Chats</h1>
</div>
<br>
<div id="availChats">
    {% for recipient, c in chatInfo.items() %}
    <div id="chat_card" class="card " style="border-color: darkorange;">
        <h5 id="broadcast-title" class="card-header" style="border-color: darkorange;"> {{recipient}}</h>
        <a href="{{ url_for('chat', recipient=recipient) }}" class="btn btn-primary">To Chat</a>
    </div>
    <br>
    
    {% endfor %}
</div>
{% endblock %}