{% extends "base.html" %}

{% block head %}
{{ super() }}
{% block JavaScript %}
<!-- Script for Timer 
<script>
    (function () {
        const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

        let tenantdue = "{{ duedate }}",
            countDown = new Date(tenantdue).getTime(),
            x = setInterval(function () {

                let now = new Date().getTime(),
                    distance = countDown - now;

                document.getElementById("days").innerText = Math.floor(distance / (day)),
                    document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
                    document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
                    document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

                //do something later when date is reached
                if (distance < 0) {
                    let headline = document.getElementById("headline"),
                        countdown = document.getElementById("countdown"),
                        content = document.getElementById("content");

                    headline.innerText = "Tenancy Due";
                    countdown.style.display = "none";
                    content.style.display = "block";

                    clearInterval(x);
                }
                //seconds
            }, 0)
    }());
</script>-->

{% endblock %}
{% endblock %}

{% block content %}
<script>
    $(document).on('click','.card_delete',function() {
        var selectedRowForDeletion = $(this).closest("#main_broadcast_card");
        selectedRowForDeletion.remove();
    });
</script>

<div id="mainpage" style="height: 100%;">
    <br>
        <h1 id="mainpage_message_headline">Latest Broadcast Messages <i class="fas fa-envelope"></i></h1>
    <br>
    <div id="mainpage_broadcast">
        
        <br>
        {% for sender, value in broadcast.items() %}
        <div id="main_broadcast_card" class="card border border-warning" >
            <h5 id="broadcast-title" class="card-header"> {{value["title"]}} <button type="button" style="border: none;" class="card_delete "><i id="icon" class="fas fa-minus-circle"></i></button></h5>
            <div class="card-body">
                <p class="card-text text-left">{{ value["content"]}}</p>
            </div>

            <div class="card-footer text-muted text-left" > Sent on: {{value["timestamp"]}}</div>
        </div>
        <br>
        {% endfor%}
    </div>
    
</div>

{% endblock %}