{% extends "base.html" %}

{% block head %}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"> 
{% endblock %}


{% block content %}
  
    <div id="settings-idcard">
        <div id="settings-profile">
            <i id="settingsicon" class="fas fa-user-alt fa-10x"></i>
        </div>
        <div id="settings-desc">
            <h1 id="thisUser">{{ user }}</h1>
            <br>
            <h5 id="thisUser">User ID: {{ uid }}</h5>
            <h5 id="thisUser">Clearance level: {{ clearance }}</h5>
            
        </div>
    </div>
  
{% endblock %}