/* Base Page CSS*/
div#container{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    display: inline-block;
    width: 80%;
    height: 75%;
    font-family: -apple-system, 
        BlinkMacSystemFont, 
        "Segoe UI", 
        Roboto, 
        Oxygen-Sans, 
        Ubuntu, 
        Cantarell, 
        "Helvetica Neue", 
        sans-serif,
        'Nunito Sans';
}


/* Main Page CSS*/
a#account{
    text-decoration: none;
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px; 
    border-radius: 0px #f06d1a;
}


/* Create Page CSS*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, 
pre, form, fieldset, input, textarea, p, blockquote, th, td { 
  padding:0;
  margin:0;}

fieldset, img {border:0}

ol, ul, li {list-style:none}

:focus {outline:none}

body,
input,
textarea,
select {
  font-family:-apple-system, 
  BlinkMacSystemFont, 
  "Segoe UI", 
  Roboto, 
  Oxygen-Sans, 
  Ubuntu, 
  Cantarell, 
  "Helvetica Neue", 
  sans-serif,
  'Nunito Sans';
  font-size: 16px;
  color: #4c4c4c;
}

p {
  font-size: 12px;
  width: 150px;
  display: inline-block;
  margin-left: 18px;
}
h1#registration {
  font-size: 32px;
  font-weight: 300;
  color: #4c4c4c;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

h2#account, h5{
    display: inline-block;
    text-decoration: none;
}

.testbox {
  margin: 20px auto;
  width: 50%; 
  height: 90%; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: #ebebeb; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
  position: relative;
}

form{
  margin: 0 30px;
}

hr{
  color: #a9a9a9;
  opacity: 0.5;
}

.form-input{
    display: inline-block;
    -webkit-border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    -moz-border-radius: 0px 4px 4px 0px/0px 0px 4px 4px; 
    border-radius: 0px 4px 4px 0px/5px 5px 4px 4px; 
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    border: solid 1px #cbc9c9;
    margin-left: -5px;
    margin-top: 13px; 
    padding-left: 10px;
}

label#icon {
  display: inline-block;
  text-align: center;
  align-items: center;
  background-color: #f06d1a;
  padding: 8px 0px 8px 15px;
  margin-left: 15px;
  -webkit-border-radius: 4px 0px 0px 4px; 
  -moz-border-radius: 4px 0px 0px 4px; 
  border-radius: 4px 0px 0px 4px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
  border: solid 0px #cbc9c9;
  letter-spacing: 10px;
}

button#registerBtn{
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 0px;
  margin: 0px;
  display: inline-block;
  text-decoration: none;
  width: 40%; 
  height: 100%; 

  align-content: center;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px; 
  border-radius: 5px; 
  background-color: #f06d1a; ;
  position: relative;
}

button#registerBtn:hover {
  top: 5%;
  background-color:#c75e1c;
  -webkit-box-shadow: none; 
  -moz-box-shadow: none; 
  box-shadow: none;
  
}

#back{
    position: absolute;
    top:20px;
    left: 30px;
}

/*Edit Account*/

#users {
  border-collapse: collapse; /* Collapse borders */
  width: 40%; /* Full-width */
  height: 70%;
  border: 1px solid #ddd; /* Add a grey border */
  font-size: 18px; /* Increase font-size */
  margin: 0 auto;
}

#users th, #users td {
  text-align: center; /* Left-align text */
  padding: 0 auto; /* Add padding */
  width: 100%;
}

#users tr {
  /* Add a bottom border to all table rows */
  border-bottom: 1px solid #ddd;
}

#users tr.header, #users tr:hover {
  /* Add a grey background color to the table header and on hover */
  background-color: #f1f1f1;
}

#users tr.header{
  background-color: #f1f1f1;
  height: 50px;
}

/*.modal-backdrop{
  z-index: -9999999999999999;
}

$('#chosenUser').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  
  
  var modal = $(this)
  modal.find('.modal-title').text('Account: ' + recipient)
  modal.find('.modal-body input').val(recipient)
})*/


a#chooseUser{
  width: 100%;
}

select#type{
  border-radius: 2px black solid;
}