

#directory-grid-card div.card-header {
    font-weight: bold;
    letter-spacing: .125rem;
    text-transform: uppercase;
}

#directory-button{
    background-color: rgba(245, 245, 245, 0.308); 
    border-color:rgba(255, 140, 0, 0.363); 
    min-width: 60%; 
    min-height: 5%; 
}