
div#data_options{
    float:left;
    margin-top: 10px;
    padding: 10px;
    height:90%;
    width: 20%;
    align-items: center;
}


div#data_options #button-holder{
    width: 80%;
}

div#data_options #button-holder button{
    width: 100%;
    font-weight: normal;
    letter-spacing: .125rem;
}

#data_image{
    float: right;
    width: auto;
    height: 90%;
    width: 70%;
}

#left-side {
    display: flex;
    width: 20%;
    height: 1000px;
    margin:5px;
}

#right-side {
    display: flex;
    width: 80%;
    height: 100%;
    margin:5px;
}

.data-wrapper {
    flex-direction: column;
    width: auto;
    height: auto;
    padding:5px;
    vertical-align: top;
}

#data-header {
    display: flex;
    height: 10%;
    align-content: center;
}

.data_choice{
    width:200px;
    margin-bottom: 10%;
    border-radius: 10px;
}



@media(min-width:768px){    
    .data_choice{
        width:200px;
        margin-bottom: 10%;
        border-radius: 10px;
    }
    
}