This is the html for the audit
{% extends "base.html" %}

{% block content %}
<div class="checklist-container">
    <form class="Form1">
      <table class="table table-bordered">
        <thread>
          <tr>
            <th colspan="2">A) Professionalism & Staff Hygiene (10%)</th>
            <th colspan="3">Point(s) Awarded</th>
            <th>Upload Images & Comments</th>
          </tr>
          <tr>
            <th colspan="2">Professionalism</th>
            <th>0</th>
            <th>1</th>
            <th>NA</th>
            <th><a href="{{url_for('audits.audit_comments', heading='Professionalism')}}">+</a></th>
            <!-- <th>0<input type="radio" value="0" name="98" onclick="selectAll()"></th>
            <th>1<input type="radio" value="1" name="98" onclick="selectAll()"></th>
            <th>NA<input type="radio" value="NA" name="98" onclick="selectAll()"></th>
            <th><a href="{{url_for('audits.audit_comments', heading='Professionalism')}}">+</a></th> -->
          </tr>
        </thread>
        <tbody>
          <tr>
            <td><span class="number">1.</span></td>
            <td><span class="qns">Shop is open and ready to service patients/visitors according to operating hours.
              {% for subfield in form.professionalism1 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
            <td rowspan="4"></td>
          </tr>
          <tr>
            <td><span class="number">2.</span></td>
            <td><span class="qns" >Staff Attendance: adequate staff for peak and non-peak hours.
              {% for subfield in form.professionalism2 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">3.</span></td>
            <td><span class="qns">At least one (1) clearly assigned person in-charge on site.
              {% for subfield in form.professionalism3 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
        </tbody>
        <thread>
          <tr>
            <th colspan="2">Staff Hygiene</th>
            <th>0</th>
            <th>1</th>
            <th>NA</th>
            <th><a href="{{url_for('audits.audit_comments', heading='Staff Hygiene')}}">+</a></th>
          </tr>
        </thread>
        <tbody>
          <tr>
            <td><span class="number">1.</span></td>
            <td><span class="qns">Staff who are unfit for work due to illness should not report to work.
              {% for subfield in form.staffhygiene1 %}
                <td>{{ subfield }}</td>
              {% endfor %}
             </span></td>
            <td rowspan="10"></td>
          </tr>
          <tr>
            <td><span class="number">2.</span></td>
            <td><span class="qns">Staff who are fit for work but suffering from the lingering effects of a cough and/or
                cold should cover their mouths with a surgical mask.
                {% for subfield in form.staffhygiene2 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">3.</span></td>
            <td><span class="qns">Clean clothes/uniform or aprons are worn during food preparation and food
                service.
                {% for subfield in form.staffhygiene3 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">4.</span></td>
            <td><span class="qns">Hair is kept tidy (long hair must be tied up) and covered with clean caps or hair nets
                where appropriate.
                {% for subfield in form.staffhygiene4 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">5.</span></td>
            <td><span class="qns">Sores, wounds or cuts on hands, if any, are covered with waterproof and
                brightly-coloured plaster.
                {% for subfield in form.staffhygiene5 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>  
          </tr>
          <tr>
            <td><span class="number">6.</span></td>
            <td><span class="qns">Hands are washed thoroughly with soap and water, frequently and at appropriate
                times.
                {% for subfield in form.staffhygiene6 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">7.</span></td>
            <td><span class="qns">Fingernails are short, clean, unpolished and without nail accessories.
              {% for subfield in form.staffhygiene7 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">8.</span></td>
            <td><span class="qns">No wrist watches/ rings or other hand jewellery (with exception of wedding ring) is worn
                by staff handling food.
                {% for subfield in form.staffhygiene8 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          
          </tr>
          <tr>
            <td><span class="number">9.</span></td>
            <td><span class="qns">Food is handled with clean utensils and gloves.
              {% for subfield in form.staffhygiene9 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
         
          </tr>
          <tr>
            <td><span class="number">10.</span></td>
            <td><span class="qns">Disposable gloves are changed regularly and/ or in between tasks.
                <li>Staff do not handle cash with gloved hands.</li>
                {% for subfield in form.staffhygiene10 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
        </tbody>
      </table>
    </form>
  
    <form class="Form2 ">
      <table class="table table-bordered">
        <thread>
          <tr>
            <th colspan="2">B) Housekeeping & General Cleanliness (20%)</th>
            <th colspan="3">Point(s) Awarded</th>
            <th>Upload Images & Comments</th>
          </tr>
          <tr>
            <th colspan="2">General Environment Cleanliness</th>
            <th>0</th>
            <th>1</th>
            <th>NA</th>
            <th><a href="{{url_for('audits.audit_comments', heading='General Environment Cleanliness')}}">+</a></th>
          </tr>
        </thread>
        <tbody>
          <tr>
            <td><span class="number">1.</span></td>
            <td><span class="qns">Cleaning and maintenance records for equipment, ventilation and exhaust system.
              {% for subfield in form.generalenv1 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
            <td rowspan="15"></td>
          </tr>
          <tr>
            <td><span class="number">2.</span></td>
            <td><span class="qns">Adequate and regular pest control.
                <li>Pest control record.</li>
                {% for subfield in form.generalenv2 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">3.</span></td>
            <td><span class="qns">Goods and equipment are within shop boundary.
              {% for subfield in form.generalenv3 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">4.</span></td>
            <td><span class="qns">Store display/ Shop front is neat and tidy.
              {% for subfield in form.generalenv4 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          <tr>
            <td><span class="number">5.</span></td>
            <td><span class="qns">Work/ serving area is neat, clean and free of spillage.
              {% for subfield in form.generalenv5 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">6.</span></td>
            <td><span class="qns">Uncluttered circulation space free of refuse/ furniture.
              {% for subfield in form.generalenv6 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">7.</span></td>
            <td><span class="qns">Tables are cleared promptly within 10 minutes.
              {% for subfield in form.generalenv7 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">8.</span></td>
            <td><span class="qns">Fixtures and fittings including shelves, cupboards and drawers are clean and dry, free
                from pests, and in a good state.
                {% for subfield in form.generalenv8 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">9.</span></td>
            <td><span class="qns">Ceiling/ ceiling boards are free from stains/ dust with no gaps.
              {% for subfield in form.generalenv9 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">10.</span></td>
            <td><span class="qns">Fans and air-con units are in proper working order and clean and free from dust. Proper
                maintenance and routine cleaning are carried out regularly.
                {% for subfield in form.generalenv10 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">11.</span></td>
            <td><span class="qns">Equipment, exhaust hood, crockery and utensils are clean, in good condition and
                serviced.
                {% for subfield in form.generalenv11 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">12.</span></td>
            <td><span class="qns">Surfaces, walls and ceilings within customer areas are dry and clean.
              {% for subfield in form.generalenv12 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">13.</span></td>
            <td><span class="qns">Floor within customer areas is clean, dry and non-greasy.
              {% for subfield in form.generalenv13 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">14.</span></td>
            <td><span class="qns">Waste bins are properly lined with plastic bags and covered at all times.
              {% for subfield in form.generalenv14 %}
              <td>{{ subfield }}</td>
            {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">15.</span></td>
            <td><span class="qns">Adequate number of covered waste pedal bins are available and waste is properly managed
                and disposed.
                <li>Waste bins are not over-filled.</li>
                <li>Waste Management: Proper disposal of food stuff and waste.</li>
                <li>Waste is properly bagged before disposing it at the waste disposal area/ bin centre.</li>
                {% for subfield in form.generalenv15 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
        </tbody>
        <thread>
          <tr>
            <th colspan="2">Hand Hygiene Facilities</th>
            <th>0</th>
            <th>1</th>
            <th>NA</th>
            <th><a href="{{url_for('audits.audit_comments', heading='Hand Hygiene Facilities')}}">+</a></th>
          </tr>
        </thread>
        <tbody>
          <tr>
            <td><span class="number">1.</span></td>
            <td><span class="qns">Hand washing facilities are easily accessible, in good working condition and soap is
                provided.
                {% for subfield in form.handhygiene1 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
            <td rowspan="2"></td>
          </tr>
          <tr>
            <td><span class="number">2.</span></td>
            <td><span class="qns">Adequate facilities for hand hygiene are available including liquid soap and disposable
                hand towels.
                {% for subfield in form.handhygiene2 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
        </tbody>
      </table>
    </form>
  
    <form class="Form3 ">
      <table class="table table-bordered">
        <thread>
          <tr>
            <th colspan="2">C Food Hygiene (35%)</th>
            <th colspan="3">Point(s) Awarded</th>
            <th>Upload Images & Comments</th>
          </tr>
          <tr>
            <th colspan="2">Storage & Preparation of Food</th>
            <th>0</th>
            <th>1</th>
            <th>NA</th>
            <th><a href="{{url_for('audits.audit_comments', heading='Storage & Preparation of Food')}}">+</a></th>
          </tr>
        </thread>
        <tbody>
          <tr>
            <td><span class="number">1.</span></td>
            <td><span class="qns">Food is stored in appropriate conditions and at an appropriate temperature.
              {% for subfield in form.storageprep1 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
            <td rowspan="26"></td>
          </tr>
          <tr>
            <td><span class="number">2.</span></td>
            <td><span class="qns">Food and non-food are clearly segregated.
                <li>Non-food items (e.g. insecticides, detergents and other chemicals) are not stored together with the
                  food items.</li>
                  {% for subfield in form.storageprep2 %}
                    <td>{{ subfield }}</td>
                  {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">3.</span></td>
            <td><span class="qns">Food is not placed near sources of contamination.
              {% for subfield in form.storageprep3 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">4.</span></td>
            <td><span class="qns">Storage of food does not invite pest infestation.
              {% for subfield in form.storageprep4 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">5.</span></td>
            <td><span class="qns">Dry goods (e.g. canned food and drinks) and other food items are stored neatly on
                shelves, off the floor and away from walls.
                {% for subfield in form.storageprep5 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">6.</span></td>
            <td><span class="qns">Proper stock rotation system such as the First-Expired-First-Out (FEFO) system is used
                for inventory management.
                {% for subfield in form.storageprep6 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">7.</span></td>
            <td><span class="qns">Food is protected from contamination; packaging is intact and no products are found with
                signs of spoilage.
                {% for subfield in form.storageprep7 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">8.</span></td>
            <td><span class="qns">Ice machine is clean and well maintained.
                <li>Only ice is stored in the ice machine to prevent contamination of the ice.</li>
                {% for subfield in form.storageprep8 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">9.</span></td>
            <td><span class="qns">Scoop for ice is stored outside the ice machine in a dedicated container.
              {% for subfield in form.storageprep9 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">10.</span></td>
            <td><span class="qns">Food supplied is clean and not expired.
              {% for subfield in form.storageprep10 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">11.</span></td>
            <td><span class="qns">Clear labelling of date of date of preparation/ manufacture/ expiry on all food
                containers/packaging.
                {% for subfield in form.storageprep11 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">12.</span></td>
            <td><span class="qns">Cooked food is properly covered to prevent cross-contamination.
              {% for subfield in form.storageprep12 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">13.</span></td>
            <td><span class="qns">Proper work flow and segregation of areas to prevent cross-contamination between raw and
                cooked/ ready-to-eat food areas.
                {% for subfield in form.storageprep13 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">14.</span></td>
            <td><span class="qns">Proper separation of cooked food/ ready-to-eat food, raw meat, seafood and vegetable to
                prevent cross-contamination.
                <li>E.g. Different chopping boards, knives and other utensils are used for cooked/ ready-to-eat and raw
                  food.</li>
                  {% for subfield in form.storageprep14 %}
                    <td>{{ subfield }}</td>
                  {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">15.</span></td>
            <td><span class="qns">Frozen food is thawed in chiller, microwave or under running water.
              {% for subfield in form.storageprep15 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">16.</span></td>
            <td><span class="qns">Ingredients used are clean and washed thoroughly before cooking.
              {% for subfield in form.storageprep16 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">17.</span></td>
            <td><span class="qns">All cooking ingredient (e.g. cooking oil, sauces) are properly covered in proper
                containers and properly labelled, indicating the content and date of expiry.
                {% for subfield in form.storageprep17 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">18.</span></td>
            <td><span class="qns">All sauces are stored at appropriate condition & temperature.
              {% for subfield in form.storageprep18 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">19.</span></td>
            <td><span class="qns">Cooking oil is not used for more than 1 day.
              {% for subfield in form.storageprep19 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">20.</span></td>
            <td><span class="qns">Cooking oil is properly stored with a cover.
              {% for subfield in form.storageprep20 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">21.</span></td>
            <td><span class="qns">Perishable food is stored in the fridge.
              {% for subfield in form.storageprep21 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">22.</span></td>
            <td><span class="qns">Raw food and cooked food/ ready to serve food are clearly segregated.
                <li>Cold and/ or hot holding units are clean and well maintained.</li>
                {% for subfield in form.storageprep22 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">23.</span></td>
            <td><span class="qns">Food preparation area is free of bird and animal (e.g. dog or cat).
              {% for subfield in form.storageprep23 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">24.</span></td>
            <td><span class="qns">Food preparation area is clean, free of pests and in good state of repair.
              {% for subfield in form.storageprep24 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          <tr>
            <td><span class="number">25.</span></td>
            <td><span class="qns">Food is not prepared on the floor, near drain or near/ in toilet.
              {% for subfield in form.storageprep25 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">26.</span></td>
            <td><span class="qns">Personal belongings are kept separately in the staff locker area or cabinet, away from
                the food storage and preparation area.
                {% for subfield in form.storageprep26 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
        </tbody>
        <thread>
          <tr>
            <th colspan="2">Storage of Food in Refrigerator/ Warmer</th>
            <th>0</th>
            <th>1</th>
            <th>NA</th>
            <th><a href="{{url_for('audits.audit_comments', heading='Storage of Food in Refrigerator/ Warmer')}}">+</a></th>
          </tr>
        </thread>
        <tbody>
          <tr>
            <td><span class="number">1.</span></td>
            <td><span class="qns">Daily Temperature Log for food storage units (freezers, chillers, warmers, steamers,
                ovens) using independent thermometer, etc. is maintained for inspection from time to time.
                {% for subfield in form.storagefood1 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
            <td rowspan="11"></td>
          </tr>
          <tr>
            <td><span class="number">2.</span></td>
            <td><span class="qns">Food storage units (freezers, chillers, warmers, steamers, ovens) are kept clean and
                well maintained. All rubber gaskets of refrigerators / warmers are free from defect, dirt and
                mould.
                {% for subfield in form.storagefood2 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">3.</span></td>
            <td><span class="qns">Food storage units are not overstocked to allow good air circulation.
              {% for subfield in form.storagefood3 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">4.</span></td>
            <td><span class="qns">For walk-in freezers and chillers, food items are stored neatly on shelves and off the
                floor.
                {% for subfield in form.storagefood4 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">5.</span></td>
            <td><span class="qns">Frozen food is stored at a temperature of not more than -12°C.
                <li>Freezer’s temperature: < -12°C</li>
                {% for subfield in form.storagefood5 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">6.</span></td>
            <td><span class="qns">Chilled food is stored at a temperature of not more than 4°C.
                <li>Chiller’s temperature: 0°C ~ 4°C</li>
                {% for subfield in form.storagefood6 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">7.</span></td>
            <td><span class="qns">Hot food are held above 60°C.
                <li>Food warmer’s temperature: > 60°C</li>
                {% for subfield in form.storagefood7 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">8.</span></td>
            <td><span class="qns">Perishable food is stored at a temperature of not more than 4°C.
              {% for subfield in form.storagefood8 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">9.</span></td>
            <td><span class="qns">Dairy products are stored at a temperature of not more than 7°C.
              {% for subfield in form.storagefood9 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">10.</span></td>
            <td><span class="qns">Cooked/ ready-to-eat food are stored above raw food.
              {% for subfield in form.storagefood10 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">11.</span></td>
            <td><span class="qns">Food items are properly wrapped/covered in proper containers and protected from
                contamination.
              {% for subfield in form.storagefood11 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
        </tbody>
      </table>
    </form>
  
    <form class="Form4 ">
      <table class="table table-bordered">
        <thread>
          <tr>
            <th colspan="2">D) Healthier Choice in line with HPB’s Healthy Eating’s Initiative (15%))</th>
            <th colspan="3">Point(s) Awarded</th>
            <th>Upload Images & Comments</th>
          </tr>
          <tr>
            <th colspan="2">Food</th>
            <th>0</th>
            <th>1</th>
            <th>NA</th>
            <th><a href="{{url_for('audits.audit_comments', heading='Food')}}">+</a></th>
          </tr>
        </thread>
        <tbody>
          <tr>
            <td><span class="number">1.</span></td>
            <td><span class="qns">Min. no. of healthier variety of food items per stall.
                <br /><b><u>Lease Term:</u></b><br />
                50% of food items.</td>
                {% for subfield in form.food1 %}
                  <td>{{ subfield }}</td>
                {% endfor %}
            </span></td>
            <td rowspan="7"></td>
          </tr>
          <tr>
            <td><span class="number">2.</span></td>
            <td><span class="qns">Label caloric count of healthier options.
              {% for subfield in form.food2 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">3.</span></td>
            <td><span class="qns">Include HPB’s Identifiers beside healthier options.
              {% for subfield in form.food3 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">4.</span></td>
            <td><span class="qns">Use of healthier cooking oils.
              {% for subfield in form.food4 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">5.</span></td>
            <td><span class="qns">Offer wholemeal/ whole-grain option.
              {% for subfield in form.food5 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">6.</span></td>
            <td><span class="qns">Healthier option food sold at lower price than regular items.
              {% for subfield in form.food6 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">7.</span></td>
            <td><span class="qns">Limit deep-fried and pre-deep fried food items sold (≤ 20% deep-fried items).
              {% for subfield in form.food7 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
        </tbody>
        <thread>
          <tr>
            <th colspan="2">Beverage</th>
            <th>0</th>
            <th>1</th>
            <th>NA</th>
            <th><a href="{{url_for('audits.audit_comments', heading='Beverage')}}">+</a></th>
          </tr>
        </thread>
        <tbody>
          <tr>
            <td><span class="number">1.</span></td>
            <td><span class="qns">No sugar / Lower-sugar brewed beverage offerings according to guidelines.
              {% for subfield in form.beverage1 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
            <td rowspan="11"></td>
          </tr>
          <tr>
            <td><span class="number">2.</span></td>
            <td><span class="qns">Healthier option beverages sold at lower price than regular items.
              {% for subfield in form.beverage2 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">3.</span></td>
            <td><span class="qns">Label caloric count of healthier options.
              {% for subfield in form.beverage3 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">4.</span></td>
            <td><span class="qns">Limit sugar content on commercially-prepared sweetened beverages. (≥ 70%
                commercially-prepared sweetened beverages sold to have HCS)
                {% for subfield in form.beverage4 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
        </tbody>
      </table>
    </form>
  
    <form class="Form5 ">
      <table class="table table-bordered">
        <thread>
          <tr>
            <th colspan="2">E) Workplace Safety & Health (20%)</th>
            <th colspan="3">Point(s) Awarded</th>
            <th>Upload Images & Comments</th>
          </tr>
          <tr>
            <th colspan="2">General Safety</th>
            <th>0</th>
            <th>1</th>
            <th>NA</th>
            <th><a href="{{url_for('audits.audit_comments', heading='General Safety')}}">+</a></th>
          </tr>
        </thread>
        <tbody>
          <tr>
            <td><span class="number">1.</span></td>
            <td><span class="qns">All food handlers have Basic Food Hygiene certificate and a valid Refresher Food Hygiene
                certificate (if applicable).
              {% for subfield in form.generalsafety1 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
            <td rowspan="11"></td>
          </tr>
          <tr>
            <td><span class="number">2.</span></td>
            <td><span class="qns">MSDS for all industrial chemicals are available and up to date.
              {% for subfield in form.generalsafety2 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">3.</span></td>
            <td><span class="qns">Proper chemicals storage.
              {% for subfield in form.generalsafety3 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">4.</span></td>
            <td><span class="qns">All detergent and bottles containing liquids are labelled appropriately.
              {% for subfield in form.generalsafety4 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">5.</span></td>
            <td><span class="qns">All personnel to wear safety shoes and safety attire where necessary.
              {% for subfield in form.generalsafety5 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">6.</span></td>
            <td><span class="qns">Knives and sharp objects are kept at a safe place.
              {% for subfield in form.generalsafety6 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">7.</span></td>
            <td><span class="qns">Area under the sink should not be cluttered with items other than washing agents.
              {% for subfield in form.generalsafety7 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">8.</span></td>
            <td><span class="qns">Delivery personnel do not stack goods above the shoulder level.
              {% for subfield in form.generalsafety8 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">9.</span></td>
            <td><span class="qns">Stacking of goods does not exceed 600mm from the ceiling and heavy items at the bottom,
                light items on top.
              {% for subfield in form.generalsafety9 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">10.</span></td>
            <td><span class="qns">Proper signage/ label (fire, hazards, warnings, food stuff) and Exit signs in working
                order.
              {% for subfield in form.generalsafety10 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">11.</span></td>
            <td><span class="qns">Equipment, crockery and utensils are not chipped, broken or cracked.
              {% for subfield in form.generalsafety11 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
        </tbody>
        <thread>
          <tr>
            <th colspan="2">Fire & Emergency Safety</th>
            <th>0</th>
            <th>1</th>
            <th>NA</th>
            <th><a href="{{url_for('audits.audit_comments', heading='Fire & Emergency Safety')}}">+</a></th>
          </tr>
        </thread>
        <tbody>
          <tr>
            <td><span class="number">1.</span></td>
            <td><span class="qns">Fire extinguishers access is unobstructed; Fire extinguishers are not expired and
                employees know how to use them.
              {% for subfield in form.fire1 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
            <td rowspan="3"></td>
          </tr>
          <tr>
            <td><span class="number">2.</span></td>
            <td><span class="qns">Escape route and exits are unobstructed.
              {% for subfield in form.fire2 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">3.</span></td>
            <td><span class="qns">First aid box is available and well-equipped.
              {% for subfield in form.fire3 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
        </tbody>
        <thread>
          <tr>
            <th colspan="2">Electrical Safety</th>
            <th>0</th>
            <th>1</th>
            <th>NA</th>
            <th><a href="{{url_for('audits.audit_comments', heading='Electrical Safety')}}">+</a></th>
          </tr>
        </thread>
        <tbody>
          <tr>
            <td><span class="number">1.</span></td>
            <td><span class="qns">Electrical sockets are not overloaded – one plug to one socket.
              {% for subfield in form.elect1 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
            <td rowspan="4"></td>
          </tr>
          <tr>
            <td><span class="number">2.</span></td>
            <td><span class="qns"><span class="qns">Plugs and cords are intact and free from exposure/ tension with PSB
                  safety mark.
              {% for subfield in form.elect2 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">3.</span></td>
            <td><span class="qns"><span class="qns">Power points that are in close proximity to flammable and/or water
                  sources are installed with a plastic cover.
              {% for subfield in form.elect3 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
          <tr>
            <td><span class="number">4.</span></td>
            <td><span class="qns"><span class="qns">Electrical panels / DBs are covered.
              {% for subfield in form.elect4 %}
                <td>{{ subfield }}</td>
              {% endfor %}
            </span></td>
          </tr>
        </tbody>
      </table>
      <div class="btn-box">
        <div class="checklist_right">
          <button class="submit">Submit</button>
        </div>
      </div>
    </form>
  
  </div>


 <!-- <script type="text/javascript">
    function selectAll(Form1) {
        var btns = document.querySelectorAll('input[type="radio"]')
        if(btns[0].checked){
            for(var i=0;i<btns.length;i++){
                if(btns[i].value=="0"){
                    btns[i].checked=true;
                }
            }
        }else if (btns[1].checked){
            for(var i=0;i<btns.length;i++){
                if(btns[i].value=="1"){
                    btns[i].checked=true;
                }
            }
        }else if (btns[2].checked){
            for(var i=0;i<btns.length;i++){
                if(btns[i].value=="NA"){
                    btns[i].checked=true;
                }
            }
        }
    }
</script> -->

  {% endblock %}