{% extends "audit/create_audit.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<!-- <div id="checklist_A" class="card" style="border-color: orange;">
    <div class="card-header" style="background-color: rgba(128, 128, 128, 0.089); border-color: orange;">
        <ul class="nav nav-tabs card-header-tabs" role="tablist" >    
            <li class="nav-item">
                <a class="nav-link" role="tab" href="#checklist_remarks" aria-controls="checklist_remarks" aria-selected="false">Additional Remarks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" role="tab" href="#checklist_images" aria-controls="checklist_images" aria-selected="false">Images</a>
            </li>
        </ul>
    </div>
    <div class="card-body" >
        <div class="tab-content mt-2">
            <div id="checklist_remarks" class="tab-pane" role="tabpanel">
                <p class="card-text text-left"><strong>Additional Remarks: </strong></p>
            </div>
            <div id="checklist_images" class="tab-pane" role="tabpanel">
                <p class="card-text text-left"><strong>Images</strong></p>
            </div>

        </div>
        
    </div>
</div>
 -->
 <h1>{{ heading }}</h1>

 <p>My first paragraph.</p>
{% endblock %}