{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <h1>{{title}}</h1>
        <tr>
            <th>Tenant</th>
            <th>Score</th>

        </tr>
        </thead>
        <tbody>
        {% for data in tenants %}
            <tr>
                <td>{{ data.tenant }}</td>
                <td>{{ data.score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}