{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <h1>{{title}}</h1>
        {% for month in auditor %}
		    <tr>
		        <th>Date</th>
		        <th>Tenant</th>
		    </tr>
		    </thead>
		    <tbody>
		    {% for record in month %}
		        <tr>
		            <td>{{ record[1] }}</td>
		            <td>{{ record[0] }}</td>
		        </tr>
		    {% endfor %}
		    </tbody>
	    {% endfor %}
    </table>
{% endblock %}
