{% extends "base.html" %}
{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date Time</th>
            <th>Auditor</th>
            <th>Tenant</th>

        </tr>
        </thead>
        <tbody>
        {% for data in dates %}
            <tr>
                <td>{{ data.date }}</td>
                <td>{{ data.auditor }}</td>
                <td>{{ data.tenant }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}